*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.text-center {
  text-align: center;
}

.center-within {
  display: grid;
  place-items: center;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
}

#sclogo {
  vertical-align: middle;
  width: 8em;
}

/* END FOOTER */
