/* GENERAL */

.bg-solid {
  background-color: rgba(255, 255, 255, 0.8);
}

.gap {
  height: 5em;
}

.section {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

/* END GENERAL */

/* NAVBAR */

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin-inline: auto;
}

#navbar ul li a {
  color: white;
  font-family: "Barrio", cursive;
  font-size: 26px;
  letter-spacing: 2px;
  margin-top: 0;
  padding: 10px 10px 0 10px;
  text-shadow: #333 1.7px 1.7px 1.7px;
  text-decoration: none;
}

#navbar ul li a.active {
  color: purple;
}

#navbar ul li a:hover {
  color: green;
  display: block;
  transform: scale(1.5);
  transform-origin: bottom center;
}

/* END NAVBAR */

/* SECTIONS */

/* INTRO */

#intro {
  background-image: url(../images/intro-bg.png);
}

#intro-pic {
  width: 100%;
}

/* END INTRO */

/* ABOUT */

#about {
  padding-top: 5em;
  background-image: url(../images/about-bg.jpg);
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

#about img {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

#about-content {
  padding: 2em;
}

#about-content > p:first-of-type {
  margin: 0;
}

#three-areas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* END ABOUT */

/* GOOD EATS */

#goodeats {
  background-image: url(../images/goodeats-bg.jpg);
  background-size: 100% 100%;
}

#goodeats h3:first-of-type {
  font-family: "Mogra", cursive;
  font-size: 26px;
  color: green;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  margin: 0;
  padding: 1rem 0;
}

#goodeats-foodcharts {
  display: flex;
  justify-content: space-around;
}

#goodeats-foodcharts picture:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#acid-reflux-pic {
  height: 510px;
}

/* END GOOD EATS */

/* SOCIAL */

#social {
  display: grid;
  place-items: center;
  background-image: url(../images/social-bg.jpg);
}

/* END SOCIAL */

/* TESTIMONIALS */

#testimonials {
  background-image: url(../images/testimonials-bg.jpg);
  color: white;
  text-shadow: green 2px 2px 2px;
  font-family: "Mogra", cursive;
  font-size: 21px;
  text-align: center;
  line-height: 155%;
}

#testimonials-content {
  backdrop-filter: blur(10px); /* used to blur the bg only. */
}

#testimonials p {
  padding: 0;
  margin: 0;
}

#read-more {
  color: #337ab7;
  text-shadow: white 1px 1px 1px;
}

.icon {
  height: 30px;
  position: relative;
  top: 5px;
}

/* END TESTIMONIALS */

/* END SECTIONS */
